bfsrworld/customnpcs/dialogs/Madame Inventoriat/23.json
bfsrworld/customnpcs/dialogs/Madame Inventoriat/24.json
bfsrworld/customnpcs/dialogs/Madame Inventoriat/25.json
bfsrworld/customnpcs/dialogs/Villager/1.json
bfsrworld/customnpcs/dialogs/Villager/2.json
bfsrworld/customnpcs/dialogs/Villager/3.json
