# Configuration file

##########################################################################################################
# chisels
#--------------------------------------------------------------------------------------------------------#
# Toggling of all chisels. If the chisel doesn't find the material it requires, it will not register.
##########################################################################################################

chisels {
    B:chiselBedrockiumEnabled=true
    B:chiselBoundEnabled=true
    B:chiselFluxedEnabled=true
    B:chiselIronwoodEnabled=true
    B:chiselSteeleafEnabled=true

    # Whitelist for chisels created by Gems. Add the OreDict suffix. 
    # Syntax is: 
    # GemName:Durability:HexColor
    S:gemChiselWhitelist <
        Emerald:700:#22ED4E
        Ruby:700:#DD0707
        Sapphire:700:#1F52F8
     >
}


##########################################################################################################
# durability
#--------------------------------------------------------------------------------------------------------#
# Setting of durabilities for every chisel.
##########################################################################################################

durability {
    I:durabilityBedrockium=2147483647
    I:durabilityBloody=20000
    I:durabilityFluxed=100000
    I:durabilityIronwood=750
    I:durabilitySteeleaf=1500
}


##########################################################################################################
# misc
#--------------------------------------------------------------------------------------------------------#
# Misc settings.
##########################################################################################################

misc {
}


##########################################################################################################
# recipes
#--------------------------------------------------------------------------------------------------------#
# Recipe settings.
##########################################################################################################

recipes {
    # Requires EnderIO to be present.
    B:addEnderIOFluxedChiselRecipes=false

    # Requires RedstoneArsenal to be present.
    B:addRedstoneArsenalFluxedChiselRecipes=false

    # Requires ThermalExpansion to be present.
    B:addThermalExpansionFluxedChiselRecipes=true
}


